# Framework
bubus>=1.5.1

# Databases
tortoise-orm>=0.25.1
aiosqlite>=0.21.0
beanie[encryption,snappy]>=2.0.0
redis[hiredis]>=6.4.0

# Pydantic
pydantic-settings>=2.10.1
pydantic>=2.11.7

# Utilities
aiohttp>=3.12.14
gtfs-realtime-bindings>=1.0.0

# Logging
python-json-logger>=3.3.0
sentry-sdk[pymongo, aiohttp]>=2.34.1
logfire[aiohttp, pymongo, sqlite3]>=4.2.0